page-home {

}
.listahorizontal{
    white-space: nowrap;
    height: 20vh;
	width: 100vw;
}

//.container-class {
    ::-webkit-scrollbar {
                        display: none !important;
                    }
//}

.listahorizontal{
	.scroll-content {
		padding: 0px !important;
	}
}

ion-row{
	overflow-x: auto;
}

ion-col{
	padding: 16px;
	border: solid 1px #DDD;
	color: #FFF;
	border-radius: 3px;
	margin: 5px;
}

.um{
	ion-col{
		background-color: darkslategrey;
	}
}

.dois{
	ion-col{
		background-color: darkolivegreen;
	}
}

#c2{
	//border-style: ridge;
	//border-color: darkolivegreen;
	width: fit-content;
	color: white;
	background-color: darkolivegreen;
	padding: 5px;
	margin-bottom: 0px;
}