page-home {

}


scroll-content{
	background-color: rgb(41, 221, 171);
}

ion-scroll{
    white-space: nowrap;
    height: 10px;
    width: 100000px;
}

ion-scroll.item{
	height: 100%;
}

ion-col{
	padding: 16px;
	border: solid 1px #DDD;
	background-color: rgb(221, 41, 91);
	color: #FFF;
	border-radius: 3px;
	margin: 5px;
}