<!--
  Generated template for the Pesquisa page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <botao-menu>Pesquisa e Filtros</botao-menu>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list class="accordion-list" radio-group [(ngModel)]="escolha">

    <!-- First Level -->
    <ion-list-header text-wrap *ngFor="let item of categorias; let i = index" no-lines no-padding no-margin>
      <!-- Toggle Button -->
      <ion-row>
        <ion-col col-9 no-padding>
          <button class="label" ion-item (click)="toggleSection(i)" detail-none>
            <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
            <span style="font-size:medium">{{ item.name }}</span>
          </button>
        </ion-col>
        <ion-col col-3 no-padding class="flex">
          <ion-item>
            <ion-radio [value]="item.alias.toString()"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-list *ngIf="item.children && item.open" no-lines>

        <ion-list-header *ngFor="let child of item.children; let j = index" class="first-item" no-padding>

          <ion-row *ngIf="!child.children" class="child-row">
            <ion-col>
              <ion-item ion-item detail-none class="child-item" text-wrap>
                <h2>{{ child.name }}</h2>
                <p>{{ child.information }}</p>
              </ion-item>
            </ion-col>
            <ion-col class="flex" col-3>
              <ion-item class="child-check">
                <ion-radio [value]="child.alias"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-list-header>
      </ion-list>

    </ion-list-header>
  </ion-list>

  {{escolha}}
</ion-content>