<!--
  Generated template for the Pesquisa page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="um">
    <botao-menu>Pesquisa e Filtros</botao-menu>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="information!=undefined" class="accordion-list">

    <!-- First Level -->
    <ion-list-header text-wrap *ngFor="let curso of information.cursos; let i = index" no-lines no-padding no-margin>
      <!-- Toggle Button -->
      <ion-row>
        <ion-col col-9 no-padding>
          <button class="label fundoazul" ion-item (click)="toggleSection(i)" detail-none>
            <ion-icon item-left name="arrow-forward" *ngIf="!curso.open"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="curso.open"></ion-icon>
            <span style="font-size:medium">{{ curso.nome }}</span>
          </button>
        </ion-col>
        <ion-col col-3 no-padding class="flex">
          <ion-item (click)="tipo = 'curso'">
            <ion-checkbox [(ngModel)]="curso.check" (ngModelChange)="check(curso)"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-list *ngIf="curso.disciplinas && curso.open" no-lines>

        <ion-list-header *ngFor="let disciplina of curso.disciplinas; let j = index" class="first-item" no-padding>

          <ion-row class="child-row">
            <ion-col>
              <ion-item ion-item detail-none class="child-item" text-wrap>
                <h2>{{ disciplina.nome }}</h2>
              </ion-item>
            </ion-col>
            <ion-col class="flex" col-3>
              <ion-item class="child-check">
                <ion-checkbox [(ngModel)]="disciplina.check" (ngModelChange)="checkChild(curso, disciplina)"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-list-header>
      </ion-list>

    </ion-list-header>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="filtrar()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-fab>

</ion-content>