<ion-header>
    <ion-navbar color="primary">
        <botao-menu>Avisos</botao-menu>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <!--http://ionicframework.com/docs/v2-->

    TODO: calendario

    <div *ngFor="let item of avisos">
        <h3 class="c2" [ngStyle]="{'background-color': item.cor}">{{item.categoria}}</h3>
        <div class="container-class">
            <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" class="listahorizontal">
                <ion-row nowrap>
                    <ion-col col-20 *ngFor="let aviso of item.avisos" [ngStyle]="{'background-color': item.cor}">
                        <h2>{{aviso.a}}</h2>
                        <h3>{{aviso.b}}</h3>
                        <h3><a [href]="'http://www.'+aviso.c" target="blank" >{{aviso.c}}</a></h3>
                    </ion-col>
                </ion-row>
            </ion-scroll>
        </div>
    </div>


</ion-content>