<ion-header>
    <ion-navbar color="um">
        <botao-menu>
            Avisos
        </botao-menu>
        <ion-buttons end>
            <button ion-button icon-only (click)="navCtrl.setRoot('Pesquisa')">
                <ion-icon name="search" item-right></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-padding>

    <!--http://ionicframework.com/docs/v2-->


    <span *ngIf="avisos != undefined && information != undefined">
        <div class="cima">
            <div *ngIf="avisos.calendario.length>0">
                <h6 class="c2">Calendário</h6>
                <div class="container-class">
                    <ion-row style="height: 25vh" nowrap>
                        <ion-col (click)="verDetalhes(item)" col-12 [style.background-image]="'url(' + information.url_imagem + item.imagem + ')'"
                            class="coluna" col-20 *ngFor="let item of avisos.calendario">

                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </div>

        <div padding>
            <div *ngIf="avisos.gerais.length>0">
                <h6 class="c2">Gerais</h6>
                <div class="container-class">
                    <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" class="listahorizontal">
                        <ion-row class="linha" nowrap>
                            <ion-col (click)="verDetalhes(item)" col-4 [style.background-image]="'url(' + information.url_imagem + item.imagem + ')'"
                                class="coluna" *ngFor="let item of avisos.gerais">

                            </ion-col>
                        </ion-row>
                    </ion-scroll>
                </div>
            </div>

            <div *ngIf="avisos.avisos_cursos.length>0">
                <h6 class="c2">Cursos</h6>
                <div class="container-class">
                    <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" class="listahorizontal">
                        <ion-row class="linha" nowrap>
                            <ion-col (click)="verDetalhes(item)" col-4 class="coluna" [style.background-image]="'url(' + information.url_imagem + item.imagem + ')'"
                                *ngFor="let item of avisos.avisos_cursos">

                            </ion-col>
                        </ion-row>
                    </ion-scroll>
                </div>
            </div>

            <div *ngIf="avisos.aviso_disciplinas.length>0">
                <h6 class="c2">Disciplinas</h6>
                <div class="container-class">
                    <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" class="listahorizontal">
                        <ion-row class="linha" nowrap>
                            <ion-col (click)="verDetalhes(item)" col-4 class="coluna" [style.background-image]="'url(' + information.url_imagem + item.imagem + ')'"
                                *ngFor="let item of avisos.aviso_disciplinas">

                            </ion-col>
                        </ion-row>
                    </ion-scroll>
                </div>
            </div>

            <div *ngIf="avisos.aviso_professor.length>0">
                <h6 class="c2">De Professores</h6>
                <div class="container-class">
                    <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" class="listahorizontal">
                        <ion-row class="linha" nowrap>
                            <ion-col (click)="verDetalhes(item)" col-4 class="coluna" [style.background-image]="'url(' + information.url_imagem + item.imagem + ')'"
                                *ngFor="let item of avisos.aviso_professor">

                            </ion-col>
                        </ion-row>
                    </ion-scroll>
                </div>
            </div>
        </div>
    </span>

</ion-content>