page-avisos {	
	.coluna{
		padding: 16px;
		//border: solid 1px color($colors, dois);
		color: #FFF;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		border-radius: 3px;
		margin: 2px;
		//box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		//background-color: white;
		//height: inherit !important;
	}	
	.linha{
		overflow-x: auto;
		height: 25vh;
	}
	.col{
		//max-width: none !important;
		white-space: normal;
		//overflow: hidden;
		overflow: scroll;
		text-align: center;
	}
	.cima{
		background-color: color($colors, um);
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 1px;

	}
	.header-md::after{
		height: 0px;
	}

	.professor{
		//box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
		overflow: hidden;
		background-image: url("/assets/pro.png");
		//background-color: white;
		text-align: right;
        border-width: 0px;
        border-bottom: 3px;
		border-color: black;
		border-style: ridge;
	}

	p{
		color: white;
	}

}
.listahorizontal{
    white-space: nowrap;
    height: 25vh;
	width: 100vw;
	.scroll-content {
		padding: 0px !important;
		margin-right: 10vw;
		//left: -5vw !important;
	}
}

//.container-class {
    ::-webkit-scrollbar {
                        display: none !important;
                    }
//}	

.um{
	ion-col{
		background-color: #2f4f4f;
	}
}

.dois{
	ion-col{
		background-color: #556b2f;
	}
}

.c2{
	//border-style: ridge;
	//border-color: darkolivegreen;
	width: fit-content;
	color: white;
	//background-color: darkolivegreen;
	padding: 5px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-radius: 3px;
}

.container-class{
	margin-bottom: 15px;
	ion-scroll {
		ion-row {
			ion-col{
				border-top-width: 0px;
			}
		}
	}
}

