page-avisos {

}
.listahorizontal{
    white-space: nowrap;
    height: 20vh;
	width: 100vw;
	.scroll-content {
		padding: 0px !important;
		margin-right: 10vw;
		//left: -5vw !important;
	}
}

//.container-class {
    ::-webkit-scrollbar {
                        display: none !important;
                    }
//}	

ion-row{
	overflow-x: auto;
}

ion-col{
	padding: 16px;
	border: solid 1px #DDD;
	color: #FFF;
	border-radius: 3px;
	margin: 5px;
}

.um{
	ion-col{
		background-color: #2f4f4f;
	}
}

.dois{
	ion-col{
		background-color: #556b2f;
	}
}

.c2{
	//border-style: ridge;
	//border-color: darkolivegreen;
	width: fit-content;
	color: white;
	//background-color: darkolivegreen;
	padding: 5px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-radius: 3px;
}

.container-class{
	margin-bottom: 15px;
	ion-scroll {
		ion-row {
			ion-col{
				border-top-width: 0px;
			}
		}
	}
}