<ion-header>
    <ion-navbar color="um">
        <botao-menu>Avisos</botao-menu>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <!--http://ionicframework.com/docs/v2-->

    <span *ngIf="avisos != undefined && information != undefined">

        <div *ngIf="avisos.calendario.length>0">
            <h3 class="c2">Calendário</h3>
            <div class="container-class">
                <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" class="listahorizontal">
                    <ion-row class="linha" nowrap>
                        <ion-col (click)="verDetalhes(item)" col-12 [style.background-image]="'url(' + information.url_imagem + item.imagem + ')'" class="coluna" col-20 *ngFor="let item of avisos.calendario">
                            <h2>{{item.titulo}}</h2>
                        </ion-col>
                    </ion-row>
                </ion-scroll>
            </div>
        </div>

        <div *ngIf="avisos.gerais.length>0">
            <h3 class="c2">Gerais</h3>
            <div class="container-class">
                <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" class="listahorizontal">
                    <ion-row class="linha" nowrap>
                        <ion-col (click)="verDetalhes(item)" col-5 [style.background-image]="'url(' + information.url_imagem + item.imagem + ')'"
                            class="coluna" *ngFor="let item of avisos.gerais">
                            <h2 style="display: block">{{item.titulo}}</h2>
                        </ion-col>
                    </ion-row>
                </ion-scroll>
            </div>
        </div>

        <div *ngIf="avisos.avisos_cursos.length>0">
            <h3 class="c2">Cursos</h3>
            <div class="container-class">
                <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" class="listahorizontal">
                    <ion-row class="linha" nowrap>
                        <ion-col (click)="verDetalhes(item)" col-5 class="coluna" [style.background-image]="'url(' + information.url_imagem + item.imagem + ')'" *ngFor="let item of avisos.avisos_cursos">
                            <h2>{{item.titulo}}</h2>
                        </ion-col>
                    </ion-row>
                </ion-scroll>
            </div>
        </div>

        <div *ngIf="avisos.aviso_disciplinas.length>0">
            <h3 class="c2">Disciplinas</h3>
            <div class="container-class">
                <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" class="listahorizontal">
                    <ion-row class="linha" nowrap>
                        <ion-col (click)="verDetalhes(item)" col-5 class="coluna" [style.background-image]="'url(' + information.url_imagem + item.imagem + ')'" *ngFor="let item of avisos.aviso_disciplinas">
                            <h2>{{item.titulo}}</h2>
                        </ion-col>
                    </ion-row>
                </ion-scroll>
            </div>
        </div>

    </span>

</ion-content>