page-area-professor {
    ion-content{
        ion-grid{
            position: relative;
            top: 30vh;
            ion-row{
                ion-col{
                    border-width: 0px;
                }
            }
        }
    }
}
